// TODO: Adjust colors for light mode

// Just for reference
$primary-hex: #800080;
$secondary-hex: #0077ff;
$tertiary-hex: #0e0af0;

$background-color: #ebebeb;

$primary-hue: 300;
$primary-saturation: 100%;
$primary-lightness: 25%;

$secondary-hue: 212;
$secondary-saturation: 100%;
$secondary-lightness: 50%;

$tertiary-hue: 241;
$tertiary-saturation: 92%;
$tertiary-lightness: 49%;

$primary-color: hsl($primary-hue, $primary-saturation, $primary-lightness);
$secondary-color: hsl(
	$secondary-hue,
	$secondary-saturation,
	$secondary-lightness
);
$tertiary-color: hsl($tertiary-hue, $tertiary-saturation, $tertiary-lightness);

$primary-hover: hsl(
	$primary-hue,
	$primary-saturation,
	($primary-lightness - 10%)
);

$secondary-hover: hsl(
	$secondary-hue,
	$secondary-saturation,
	($secondary-lightness - 10%)
);

$tertiary-hover: hsl(
	$tertiary-hue,
	$tertiary-saturation,
	($tertiary-lightness - 10%)
);

$primary-color-100: hsl($primary-hue, $primary-saturation, 10%);
$primary-color-200: hsl($primary-hue, $primary-saturation, 20%);
$primary-color-300: hsl($primary-hue, $primary-saturation, 30%);
$primary-color-400: hsl($primary-hue, $primary-saturation, 40%);
$primary-color-500: hsl($primary-hue, $primary-saturation, 50%);
$primary-color-600: hsl($primary-hue, $primary-saturation, 60%);
$primary-color-700: hsl($primary-hue, $primary-saturation, 70%);
$primary-color-800: hsl($primary-hue, $primary-saturation, 80%);
$primary-color-900: hsl($primary-hue, $primary-saturation, 90%);

$secondary-color-100: hsl($secondary-hue, $secondary-saturation, 10%);
$secondary-color-200: hsl($secondary-hue, $secondary-saturation, 20%);
$secondary-color-300: hsl($secondary-hue, $secondary-saturation, 30%);
$secondary-color-400: hsl($secondary-hue, $secondary-saturation, 40%);
$secondary-color-500: hsl($secondary-hue, $secondary-saturation, 50%);
$secondary-color-600: hsl($secondary-hue, $secondary-saturation, 60%);
$secondary-color-700: hsl($secondary-hue, $secondary-saturation, 70%);
$secondary-color-800: hsl($secondary-hue, $secondary-saturation, 80%);
$secondary-color-900: hsl($secondary-hue, $secondary-saturation, 90%);

$tertiary-color-100: hsl($tertiary-hue, $tertiary-saturation, 10%);
$tertiary-color-200: hsl($tertiary-hue, $tertiary-saturation, 20%);
$tertiary-color-300: hsl($tertiary-hue, $tertiary-saturation, 30%);
$tertiary-color-400: hsl($tertiary-hue, $tertiary-saturation, 40%);
$tertiary-color-500: hsl($tertiary-hue, $tertiary-saturation, 50%);
$tertiary-color-600: hsl($tertiary-hue, $tertiary-saturation, 60%);
$tertiary-color-700: hsl($tertiary-hue, $tertiary-saturation, 70%);
$tertiary-color-800: hsl($tertiary-hue, $tertiary-saturation, 80%);
$tertiary-color-900: hsl($tertiary-hue, $tertiary-saturation, 90%);

// See https://getbootstrap.com/docs/5.2/customize/color/
$gray-100: hsl(210, 17%, 98%);
$gray-200: hsl(210, 16%, 93%);
$gray-300: hsl(210, 14%, 89%);
$gray-400: hsl(210, 14%, 83%);
$gray-500: hsl(210, 11%, 71%);
$gray-600: hsl(208, 7%, 46%);
$gray-700: hsl(210, 9%, 31%);
$gray-800: hsl(210, 10%, 23%);
$gray-900: hsl(210, 11%, 15%);

[data-theme="light-mode"] {
	--primaryColor: #{$primary-color};
	--secondaryColor: #{$secondary-color};
	--tertiaryColor: #{$tertiary-color};

	--textColor: hsl(#{$secondary-hue}, #{$secondary-saturation}, 10%);

	--backgroundColor: #{$background-color};

	--primaryHover: #{$primary-hover};
	--secondaryHover: #{$secondary-hover};
	--tertiaryHover: #{$tertiary-hover};

	--primaryColor-100: #{$primary-color-100};
	--primaryColor-200: #{$primary-color-200};
	--primaryColor-300: #{$primary-color-300};
	--primaryColor-400: #{$primary-color-400};
	--primaryColor-500: #{$primary-color-500};
	--primaryColor-600: #{$primary-color-600};
	--primaryColor-700: #{$primary-color-700};
	--primaryColor-800: #{$primary-color-800};
	--primaryColor-900: #{$primary-color-900};

	--secondaryColor-100: #{$secondary-color-100};
	--secondaryColor-200: #{$secondary-color-200};
	--secondaryColor-300: #{$secondary-color-300};
	--secondaryColor-400: #{$secondary-color-400};
	--secondaryColor-500: #{$secondary-color-500};
	--secondaryColor-600: #{$secondary-color-600};
	--secondaryColor-700: #{$secondary-color-700};
	--secondaryColor-800: #{$secondary-color-800};
	--secondaryColor-900: #{$secondary-color-900};

	--tertiaryColor-100: #{$tertiary-color-100};
	--tertiaryColor-200: #{$tertiary-color-200};
	--tertiaryColor-300: #{$tertiary-color-300};
	--tertiaryColor-400: #{$tertiary-color-400};
	--tertiaryColor-500: #{$tertiary-color-500};
	--tertiaryColor-600: #{$tertiary-color-600};
	--tertiaryColor-700: #{$tertiary-color-700};
	--tertiaryColor-800: #{$tertiary-color-800};
	--tertiaryColor-900: #{$tertiary-color-900};

	--gray-100: #{$gray-100};
	--gray-200: #{$gray-200};
	--gray-300: #{$gray-300};
	--gray-400: #{$gray-400};
	--gray-500: #{$gray-500};
	--gray-600: #{$gray-600};
	--gray-700: #{$gray-700};
	--gray-800: #{$gray-800};
	--gray-900: #{$gray-900};
}
